<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      * {
        box-sizing: border-box;
      }
      body {
        background-color: #6b6b6b;
      }
    </style>
  </head>
  <body>
    <h1>GUIDE REGISTER</h1>
    <form method="POST" autocmoplete="off">
      <input type="text" placeholder="e-mail" class="email" name="email" required />
      <input type="text" placeholder="nazwa" class="name" name="name" required />
      <input type="number" placeholder="cena" class="price" name="price" required />
      <input type="password" placeholder="hasło" class="password" name="password" required />
      <input type="password" placeholder="powtórz hasło" class="password" name="confirm" required />
      <div id="counties_searchbars">
        <div class="autocomplete_box">
          <input type="text" class="county_autocomplete county" placeholder="county" />
          <div class="counties_container"></div>
        </div>
      </div>
      <div id="cities_searchbars">
        <div class="autocomplete_box">
          <input type="text" class="city_autocomplete city" placeholder="city" />
          <div class="cities_container"></div>
        </div>
      </div>
      <button>zarejestruj</button>
    </form>
    <button class="county_add">dodaj powiat</button>
    <button class="county_remove">odejmij powiat</button>
    <button class="city_add">dodaj miasto</button>
    <button class="city_remove">odejmij miasto</button>
    <script>
      //county SearchBars service
      let countiesSearchBars = document.querySelectorAll(".county_autocomplete");
      let citiesSearchBars = document.querySelectorAll(".city_autocomplete");
      // fdasdada
      function autocompleteSearch(type, searchBox, query = "") {
        fetch(`/get_${type}?${type}=${query}`)
          .then(function (response) {
            return response.json();
          })
          .then(function (responseData) {
            if (responseData.length > 0) {
              responseData.forEach((item) => {
                const row = document.createElement("p");
                row.classList.add("autocomplete_item");
                row.textContent = item;
                searchBox.appendChild(row);
                row.addEventListener("click", (e) => {
                  const acBox = e.target.parentElement.previousElementSibling;
                  acBox.value = e.target.textContent;
                  searchBox.textContent = "";
                });
              });
            }
          });
      }
      function searchBarsForeach(group, type) {
        let countdown;
        group.forEach((searchBar) => {
          searchBar.addEventListener("input", (e) => {
            clearTimeout(countdown);
            countdown = setTimeout(() => {
              if (e.target.value.length > 1) {
                const text = e.target.value;
                console.log(text);
                e.target.nextElementSibling.textContent = "";
                autocompleteSearch(type, e.target.nextElementSibling, text);
              }
            }, 300);
          });
        });
      }
      searchBarsForeach(countiesSearchBars, "counties");
      searchBarsForeach(citiesSearchBars, "cities");

      // add another county
      document.querySelector(".county_add").addEventListener("click", (e) => {
        e.preventDefault();
        const acBox = document.createElement("div");
        const lastItem = document.querySelector("#counties_searchbars").lastElementChild;
        if (lastItem.firstElementChild.value) {
          acBox.classList.add("autocomplete_box", "county_box");
          acBox.innerHTML = `
        <input type="text" class="county_autocomplete county" placeholder="county" />
        <div class="counties_container"></div>
        `;
          document.querySelector("#counties_searchbars").appendChild(acBox);
          countiesSearchBars = document.querySelectorAll(".county_autocomplete");
          searchBarsForeach(countiesSearchBars, "counties");
        }
      });
      document.querySelector(".county_remove").addEventListener("click", () => {
        const container = document.querySelector("#counties_searchbars");
        if (container.childElementCount > 1) {
          container.removeChild(container.lastChild);
        }
      });
      // add another city
      document.querySelector(".city_add").addEventListener("click", (e) => {
        e.preventDefault();
        const lastItem = document.querySelector("#cities_searchbars").lastElementChild;
        if (lastItem.firstElementChild.value) {
          const acBox = document.createElement("div");
          acBox.classList.add("autocomplete_box", "city_box");
          acBox.innerHTML = `
        <input type="text" class="city_autocomplete city" placeholder="city" />
        <div class="cities_container"></div>
        `;
          document.querySelector("#cities_searchbars").appendChild(acBox);
          citiesSearchBars = document.querySelectorAll(".city_autocomplete");
          searchBarsForeach(citiesSearchBars, "cities");
        }
      });
      document.querySelector(".city_remove").addEventListener("click", () => {
        const container = document.querySelector("#cities_searchbars");
        if (container.childElementCount > 1) {
          container.removeChild(container.lastChild);
        }
      });
    </script>
  </body>
</html>
